* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgb(241, 240, 240);
}

.authorization {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(85, 46, 46);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(161, 127, 127);
    padding: 30px 0;
    border-radius: 20px 40px;
}

.authorization__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 35px;
    color: #fff;
}

.authorization__text {
    margin: 0 auto;
    max-width: 65%;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 45px;
    color: #fff;
}

.form__inner {
    margin-bottom: 10px;
}

.authorization__form-entrance input::placeholder,
.authorization__form-reg input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.authorization__form-entrance.form__info-box,
.authorization__form-reg.form__info-box {
    margin-bottom: 50px;
}

.form__box--hidden {
    display: none;
}

.form__title {
    font-size: 25px;
}

.form__title--active-btn-1,
.form__title--active-btn-2 {
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: rgb(255, 166, 0);
    cursor: pointer;
}

.form__title--active-btn-1:hover,
.form__title--active-btn-2:hover {
    text-decoration: underline;
}

.form__box-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form__info-box:nth-child(3) {
    margin-top: 10px;
}

.form__info-box:nth-child(4) {
    margin-top: 10px;
}

.form__info-box--last {
    margin-bottom: 0;
}

.authorization__form-reg .form__info-box input:invalid, 
.authorization__form-reg .form__info-box input:valid {
    padding-right: 2.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5625rem center;
    background-size: 1.125rem 1.125rem;
}

.form__info-box input {
    width: 80%;
    padding: 15px 30px 15px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.authorization__form-reg .form__info-box input:valid {
    border-color: #198754;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

.authorization__form-reg .form__info-box input:invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.authorization__form-reg .form__info-box input:valid:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

.form__label {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    text-align: left;
    padding-left: 10%;
    cursor: text;
}

.form__btn {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px 60px;
    border-radius: 10px;
    outline: none;
    color: rgb(255, 166, 0);
    border: 1px solid rgb(255, 166, 0);
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.form__btn:hover {
    background-color: #fff;
}

.form__btn:active {
    background-color: rgb(235, 229, 229);
}
